@mixin cards ($color: white, $padding: 0.5rem, $margin: 1rem, $radius: 1rem) {
    background-color: $color;
    padding: $padding;
    border-radius: $margin;
    margin: $radius;
}

.cuadro{
    display: flex;
    flex-flow: column wrap ;
    align-items: center;
    justify-content: center;
    @include cards ();
    &:hover{
        animation-duration: 2s;
        animation-name: animacion;
        @keyframes animacion{
            0%{
                background: linear-gradient(to left, #41b9f037, white) ;
                transition: all 2s ease;
            }
        
            50%{
                background: linear-gradient(to left, rgba(0, 0, 0, 0.075), white) ;
                transition: all 2s ease-in;
            }
        
            100%{
                background: linear-gradient(to left, #41b9f052, white) ;
                transition: all 2s ease-in-out;
            }
        }
    }
    
}

.cuadro__fondos{
    background-color: $background-fondo;
    padding: 2rem;
    gap: 2rem;
    border-radius: 1rem;
}