header{
    display: flex;
    flex-wrap: wrap;
    top: 0px;
    align-items: center;
    justify-content: space-between;
    background-color: $fondo-header;
    position: sticky;
    a{
        color: white;
        img{
            height: 10vh;
        }
        &:hover{
            color: $color-principal-azul;
        }
    }
    ul{
        list-style: none;
        font-size: 0;
        align-items: center;
        & li:hover ul{
            display: block;
            background-color: $fondo-header;
            text-align: center;
        }
        & ul{
            position: absolute;
            display: none;
            & li{
                display: block;
            }
        }
    }
}

.header__academia{
    background-color: $background-header-academia;
    a{
        color: $color-principal-lila;
        &:hover{
            color: $color-principal-azul;
        }
    }
    ul li:hover ul{
        background-color: $background-header-academia;
    }
}

li{
    display: inline;
    padding: 0.5rem;
    position: relative;
    font-size: 0.87rem;
}

.boton-nav{
    padding: 0.5rem;
    font-weight: normal;
    border-radius: 0.5em;
    border: 0.063rem solid white;
    background: $color-principal-lila;
    &::before{
        content: " 📚 " ;
        justify-items: center;
    }
    &::after{
        content: none ;
    }
    &:hover{
        border: 0.063rem solid $color-terciario-azul;
        background: $color-principal-lila;
        color: $color-principal-azul;
        transform: scale(1.05);
        transition: all 0.3s ease-out;
    }
}