/* TABLET */
@media (min-width:541px) and (max-width:720px){
    header a img{
        height: 10vh;
    }

    h1,h2,h3,h4,h5,h6{
        font-size: medium;
    }

    .presentacion{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "presentacion__titulo"
                            "rosa" 
                            "rosa__container";
    }

    .rosa__container{
        padding: 0%;
        padding-top: 2rem;
    }

    .presentacion__contacto{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "presentacion__iframe" 
                            "presentacion__boton";
    }

    .contenedor__cuadro{
        width: $ancho*2;
    }

    .testimonios__persona{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:"testimonios__titulo testimonios__titulo"
                            "testimonios__parrafo testimonios__parrafo" 
                            "testimonios__nombre testimonios__img";
        .testimonios__img{
            height: 15vh;
        }
    }
    
    .img__cards{ /* .logos 5vh*/
        height: $img-cards/6;
    }

    .img__cuadros{ /*.podcast, servicios 30vw*/
        width: $img-cards;
    }

    .servicios__container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
                            "servicios__uno"
                            "servicios__dos" 
                            "servicios__tres"
                            "servicios__cuatro" 
                            "servicios__cinco"
                            "servicios__seis";
    }

    .obsequios__container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "obsequios__uno"
                            "obsequios__dos"
                            "obsequios__tres"
                            "obsequios__cuatro"
                            "obsequios__cinco"
                            "obsequios__seis"
                            "obsequios__siete"
                            "obsequios__ocho"
                            "obsequios__nueve";
    }

    .programas__container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
                            "programas__uno"
                            "programas__dos" 
                            "programas__tres"
                            "membresia";
    }
    
    .cursos__container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
                            "cursos__uno"
                            "cursos__dos"
                            "cursos__tres";
    }

    .blog__container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
                            "blog__uno"
                            "blog__dos"
                            "blog__tres";
    }

    .podcast{
        padding: 0.5rem;
        &__container{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: "podcast__uno"
                                "podcast__dos";
        }
    }

    .descargable{
        background: $background-form;
        justify-content: center;
        &__img{
            height: 35vh;
        }
    }

    .galeria__rosa{
        height: 40vh;
    } 

    .video__container{
        display: grid;
        grid-template-columns: 1fr;
    }

    .contactanos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:"contactanos__form" 
                            "contactanos__container"; 
        margin: 1rem;
        .img__contacto__rosa{
            height: 10vh;
        }
    }

    .registrate__ingresar{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:"ingresar"
                            "registrate";
        margin: 1rem;
    } 

    .error{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:"error__404"
                            "error__img"; 
        margin: 0 5rem 0 5rem;
        &__img{
            grid-area: error__img;
            height: 20rem;
            margin-left: 5rem;
        }
    }
}


/* celular */
@media (min-width:320px) and (max-width:540px){
    header a img{
        height: 10vh;
    }

    footer .footer__container{
        font-size: small;
        margin: 0%;
        padding: 0%;
        .footer__redes{
            padding: 0.3rem;
        }    
    }

    .chat{
        bottom: 1.72rem;
        right: 0.6rem;
    }

    h1,h2,h3,h4,h5,h6{
        font-size: small;
    }

    .presentacion{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "presentacion__titulo"
                            "rosa" 
                            "rosa__container";
        .rosa__container{
            padding: 0%;
            padding-top: 2rem;
        }
        &__contacto{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: "presentacion__iframe" 
                                "presentacion__boton";
        }
    }

    .contenedor{
        padding: 1rem;
        margin: 0rem;
        gap: 1rem;
        &__cuadro{
            height: 18rem;
        }
    }

    .testimonios__persona{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:"testimonios__titulo testimonios__titulo"
                            "testimonios__parrafo testimonios__parrafo" 
                            "testimonios__nombre testimonios__img";
        .testimonios__img{
            height: 12vh;
        }
        .testimonios__nombre{
            padding-top: 3rem;
            font-size: small;
            align-items: flex-end;
        }
    }

    .img__cuadros{ /*.podcast, servicios 80vw*/
        width: $img-cards/2;
    }

    .logos{
        display: none
    }

    .servicios{
        padding: 0.5rem;
        &__container{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas:
                                "servicios__uno"
                                "servicios__dos" 
                                "servicios__tres"
                                "servicios__cuatro " 
                                "servicios__cinco"
                                "servicios__seis";
            margin: 0rem;
        }
    }

    .obsequios{
        padding: 0.5rem;
        &__container{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: "obsequios__uno" 
                                "obsequios__dos"
                                "obsequios__tres" 
                                "obsequios__cuatro"
                                "obsequios__cinco"
                                "obsequios__seis"
                                "obsequios__siete"
                                "obsequios__ocho"
                                "obsequios__nueve";
        }
    }

    .programas__container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
                            "programas__uno" 
                            "programas__dos"
                            "programas__tres" 
                            "membresia";
        gap: 1rem;
        margin-bottom: 2rem;
        align-items: center;
        justify-content: center;
    }
    
    .cursos__container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
                            "cursos__uno" 
                            "cursos__dos" 
                            "cursos__tres";
        gap: 1rem;
        margin-bottom: 2rem;
    }
    
    .blog__container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
                            "blog__uno"
                            "blog__dos"
                            "blog__tres";
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .podcast{
        padding: 0.5rem;
        &__container{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: "podcast__uno"
                                "podcast__dos";
        }
    }

    .video{
        padding: 0.5rem;
        &__container{
            display: grid;
            grid-template-columns: 1fr;
        }
    }

    iframe{
        width: 90vw;
        height: 30vh;
    }

    .descargable{
        background: $background-form;
        &__img{
            height: 60vh;
        }
    }

    .galeria__rosa{
        height: 40vh;
    } 
    
    .contactanos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:"contactanos__form" 
                            "contactanos__container"; 
        margin: 1rem;
        .img__contacto__rosa{
            height: 7vh;
        }
    }

    .registrate__ingresar{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:"ingresar"
                            "registrate";
        margin: 1rem;
    } 

    .error{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:"error__404"
                            "error__img"; 
        margin: 0;
        &__img{
            grid-area: error__img;
            height: 12rem;
            margin-left: 6rem;
        }
    }

    .portada__academia{
        @include portada(url('../recursos/img/banner/banner-academia.jpg'), 10rem);
    }

    .portada__obsequios{
        @include portada(url('../recursos/img/banner/banner-obsequios.jpg'), 10rem);
    }
    
    .portada__quien-soy{
        @include portada(url('../recursos/img/banner/banner-quien-soy.jpg'), 10rem);
    }
    
    .portada__contacto{
        @include portada(url('../recursos/img/banner/banner-contacto.jpg'), 10rem);
    }
    
    .portada__registro{
        @include portada(url('../recursos/img/banner/banner-registro.jpg'), 10rem);
    }
}

@media print {
    p, h1, h2, h3, h4, h5, h6{
        color: black;
        background-color: white;
    }
}