$color-principal-lila: #a044c6;
$color-secundario-lila: #c59fc9 ;
$color-terciario-lila: #cfbae1;
$color-principal-azul: #41b8f0;
$color-secundario-azul: #c1e0f7;
$color-terciario-azul: #4ae4e4;
$font-family: 'Lato', sans-serif;
$font-size: 0.80rem;
$background-header: #000000bf;
$background-header-academia: white;
$button: linear-gradient(to bottom, #a044c6, #9f44c6b6);
$button-hover: linear-gradient(to bottom, #c59fc9ee, #c59fc9);
$background-fondo: #b4b4b437;
$background-testimonios: linear-gradient(to right, #41b9f03e, #41b9f040) ;
$background-form: linear-gradient(to left, #41b9f0a0, #9f44c676);
