@import 'variables'; //siempre de primera
@import 'sasscript';
@import 'header';
@import 'footer';
@import 'button';
@import 'testimonios';
@import 'cards';


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: $font-family;
    text-align: justify;
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
    font-size: $font-size;
}

a{
    text-decoration: none;
}

h1, h2{
    color: $color-principal-lila;
}

a::selection, button::selection, img::selection, span::selection, p::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection{
    background-color: $color-secundario-lila;
    color: black;
}

.section{
    display: flex;
    justify-content: center;
    padding-top: 0.31rem;
    &__container{
        margin: 2rem;
    }
}

.img__cuadros{ /*.podcast, servicios */
    width: $img-cards;
    border-radius: 0.50rem;
}

.img__cards{ /* .logos */
    height: $img-cards/3;
}

.fecha{
    color: $color-principal-azul;
}

.presentacion{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "rosa presentacion__titulo"
                        "rosa rosa__container";
    align-items: center;
    justify-items: center;
    &__titulo{
        grid-area: presentacion__titulo;
        text-align: center;
        font-size: xx-large;
    }
    &__contacto{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "presentacion__iframe presentacion__boton";
        align-items: center;
        justify-items: center;
    }
    &__iframe{
        grid-area: presentacion__iframe;
    }
    
    &__boton{
        grid-area: presentacion__boton;
    }
    .rosa{
        grid-area: rosa;
        width: 100%;
    }
    .rosa__container{
        grid-area: rosa__container;
        padding: 2rem;
    }

}

.servicios{
    @extend .cuadro__fondos;
    &__container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
                            "servicios__uno servicios__dos servicios__tres" 
                            "servicios__cuatro servicios__cinco servicios__seis";
        gap: 1rem;
        margin-bottom: 2rem;
    }
    &__contenido{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0.30rem;
    }
    &__uno{
        grid-area: servicios__uno;
    }
    &__dos{
        grid-area: servicios__dos;
    }
    &__tres{
        grid-area: servicios__tres;
    }
    &__cuatro{
        grid-area: servicios__cuatro;
    }
    &__cinco{
        grid-area: servicios__cinco;
    }
    &__seis{
        grid-area: servicios__seis;
    }
}

.obsequios{
    @extend .cuadro__fondos;
    &__container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "obsequios__uno obsequios__dos obsequios__tres"
                            "obsequios__cuatro obsequios__cinco obsequios__seis"
                            " obsequios__siete obsequios__ocho obsequios__nueve";
        gap: 1rem;
    }
    &__uno{
        grid-area: obsequios__uno;
    }
    &__dos{
        grid-area: obsequios__dos;
    }
    &__tres{
        grid-area: obsequios__tres;
    }
    &__cuatro{
        grid-area: obsequios__cuatro;
    }
    &__cinco{
        grid-area: obsequios__cinco;
    }
    &__seis{
        grid-area: obsequios__seis;
    }
    &__siete{
        grid-area: obsequios__siete;
    }
    &__ocho{
        grid-area: obsequios__ocho;
    }
    &__nueve{
        grid-area: obsequios__nueve;
    }
}

.descargable{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: linear-gradient(to right, #9f44c62a, #41b9f030), url("../recursos/img/rosa/rosa-fondo.jpg");
    background-size:cover;
    background-position: top;
    background-repeat: no-repeat;
    &__container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "descargable__titulo"
                            "descargable__img"
                            "descargable__boton";
        padding: 1rem;
        justify-content: center;
    }
    &__titulo{
        grid-area: descargable__titulo;
        color: black;
        margin-bottom: 1rem;
        text-align: center;
    }
    &__img{
        grid-area: descargable__img;
        margin-left: 2rem;
    }
    &__boton{
        grid-area: descargable__boton;
        margin: 2rem;
    }
}

.galeria{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    &__rosa{
        height: 30rem;
    }
}

.podcast{
    @extend .cuadro__fondos;
    &__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "podcast__uno podcast__dos";
        gap: 1rem;
        margin-bottom: 2rem;
    }
    &__uno{
        grid-area: podcast__uno;
    }
    &__dos{
        grid-area: podcast__dos;
    }
    &__reproducir::before{
        content: " ◀️ ▶️ " ;
    }

}

.video{
    @extend .cuadro__fondos;
    &__container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin: 2rem;
    }
}

.logos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 1rem;
}

.programas{
    @extend .cuadro__fondos;
    &__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
                            "programas__uno programas__dos" 
                            "programas__tres membresia";
        gap: 1rem;
        margin-bottom: 2rem;
        align-items: center;
        justify-content: center;
    }
    &__contenido{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0.30rem;
    }
    &__uno{
        grid-area: programas__uno;
    }
    &__dos{
        grid-area: programas__dos;
    }
    &__tres{
        grid-area: programas__tres;
    }
    .membresia{
        grid-area: membresia;
    }
}

.cursos{
    @extend .cuadro__fondos;
    &__container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
                            "cursos__uno cursos__dos cursos__tres";
        gap: 1rem;
        margin-bottom: 2rem;
    }
    &__contenido{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0.30rem;
    }
    &__uno{
        grid-area: cursos__uno;
    }
    &__dos{
        grid-area: cursos__dos;
    }
    &__tres{
        grid-area: cursos__tres;
    }
}

.blog{
    @extend .cuadro__fondos;
    &__container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
                            "blog__uno blog__dos blog__tres";
        gap: 1rem;
        margin-bottom: 2rem;
    }
    &__contenido{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0.30rem;
    }
    &__uno{
        grid-area: blog__uno;
    }
    &__dos{
        grid-area: blog__dos;
    }
    &__tres{
        grid-area: blog__tres;
    }
}

.contenedor{
    display: flex;
    flex-flow: row wrap ;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: $color-secundario-lila;
    padding: 2rem;
    margin: 2rem;
    text-align: center;
    gap: 2rem;
    &__cuadro{
        padding: 0.62rem;
        height: $alto;
        width: $ancho;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__mision{
        color: $color-secundario-lila;
    }
    &__vision{
        color: $color-terciario-azul;
    }
    &__valores{
        color: $color-terciario-lila
    }
}

.contactanos{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:"contactanos__form contactanos__container"; 
    align-items: center;
    gap: 1rem;
    margin: 3rem;
    &__form{
        grid-area: contactanos__form;
        display: flex;
        flex-direction: column;
        gap: 0.63rem;
        padding: 1rem;
        border-radius: 0.43rem;
        background-image: $background-form;
    }
    &__container{
        grid-area: contactanos__container;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        .contacto__rosa{
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-areas:"img__contacto__rosa contacto__rosa__datos"; 
            text-align: center;
            align-items: center;
            justify-items: center;
        }
        .img__contacto__rosa{
            grid-area: img__contacto__rosa;
            height: 20vh;
            border-radius: 1rem;
        }
        .contacto__rosa__datos{
            grid-area: contacto__rosa__datos;
        }
    }
}

.registrate__ingresar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:"ingresar registrate"; 
    gap: 1rem;
    align-items: center;
    margin-top: 5rem;
    .registrate{
        grid-area: registrate;
    }
    .ingresar{
        grid-area: ingresar;
    }
    .registrate__form, .ingreso__form{
        grid-area: contactanos__form;
        display: flex;
        flex-direction: column;
        gap: 0.63rem;
        padding: 1rem;
        border-radius: 0.43rem;
        background-image: $background-form;
    }
    
}

.error{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:"error__img error__404"; 
    margin: 0 10rem 0 10rem;
    justify-items: center;
    &__404{
        grid-area: error__404;
        text-align: center;
    }
    &__img{
        grid-area: error__img;
        height: 20rem;
        margin: 2rem;
    }
    &__logo{
        width: 20rem;
        padding-bottom: 2rem;
    }
}

.disclaimer{
    display: none!important;
}

@import 'mediaqueries'; 